<br>
<h4>Generar base de datos</h4>

<form action="/fill-database" method="get">
  <div class="form-group">
    <label for="url">URL de Youtube</label>
    <input type="text" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Ingrese URL" name="url">
    <small id="emailHelp" class="form-text text-muted">Por defecto la url será https://www.youtube.com/watch?v=NjQYm5LneEo</small>
  </div>
  <button type="submit" class="btn btn-primary">Llenar DB</button>
</form>